

body {
	font-family: Vollkorn, serif;
	font-size: 14px;
	color: #444044;
	background-color: #ededed;
}

a:link, a:visited { 
text-decoration:none; 
}

a:hover, a:active { 
text-decoration:none; 
 }

.hidden {
  display: none;
}


/*-- START CONTAINER --*/

.container {
  width: 980px;
  margin: 0 auto;
  background-color: #fefaf9;
} 

/* -- CLOSE CONTAINER --*/



/* START HEADER*/

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logoHeader {
  width: 220px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.mainNav {
  width: 500px;
  height: 25px;
  margin-top: 60px;
  margin-left: auto;
}

.mainNav ul {
  list-style-type: none;
  padding: 0;
}

.mainNav ul li {  
  font-size: 14px;
  display: inline;
  cursor: pointer;
  margin-left: 25px;
}

.mainNav ul li a {
  color: #444044;
  padding: 5px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #c3c3c3;
}

.selected {
  padding: 5px 0px 5px 0px;
  background-color: #c3c3c3;
}

/* END HEADER */


/*ABOUT ME START*/

.aboutMe {
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.aboutMeInfo h3{
  color: #444044;
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}

.aboutMeInfo {
  color: #444044;
  font-size: 24px;
  letter-spacing: .5px;
  text-align: center;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

/*ABOUT ME END*/



/*GALLERY START*/

.galleryTitle {
    color: #444044;
    font-size: 48px;
    letter-spacing: -1;
    text-align: right;
    margin-right: 60px;
}

.galleryCon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 980px;
  margin: 0px auto;
}

.socialBox {
  height: 163px;
  width: 281px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f9d1bb;
}

.socialBox h4 {
  color: #444044;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 20px;
  margin-bottom: 20px;
  
}

#iconBox img {
  width: 45px;
  height: 45px;
}

.socialBox ul {
  margin: 0px auto;
}

.socialBox ul li {
  display: inline;
  padding-right: 10px;
}



.bookNow img {
  width: 280px;
  height: 412px;
  margin-top: 30px;
}

.galleryHeader {
  height: 250px;
  width: 600px;
  margin-left: 20px;
  margin-bottom: 100px;
}



.galleryImages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/*GALLERY END*/



/*HERO START*/

.hero {
  height: 250px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heroIndex {
  background: url(../images/home.jpg) no-repeat bottom; 
}


.hero h2 {
  color: #fefaf9;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

/*HERO END*/

/*INDEX START REVIEWS*/


.reviewCon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.reviews h2 {
  color: #444044;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review {
  background-color: #fbe5da;
  width: 412px;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.review p {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 18px;
  color: #444044;
  font-size: 16px;
}

.reviewName {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 20px;
  color: #444044;
}




/*CONTACT PAGE INFO*/

#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 30px;
  color: #444044;
  background-color: #f9d1bb;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 469px;
  border-right: solid 1px #CCC;
  margin-bottom: 30px;
}


#contactText {
  font-size: 16px;
  margin-bottom: 30px;
  width: 340px;
  text-align: center;
}

#contactForm {
  margin-top: 30px;
}

fieldset {
  border: none;
  padding: 0px;
}


input, textarea  {
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 10px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: #333;
}

#message {
  width: 360px;
  height: 200px;
}

#submit {
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2073a8;
  font-size: 14px;
  border: 1px solid #003471;
}

#reset {
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2073a8;
  font-size: 14px;
  border: 1px solid #003471;
}

#mapArea {
  width: 380px;
  margin-left: 90px;
}


#mapArea h3 {
  font-size: 21px;
  margin-top: 0;
  color: #2073a8;
}

#mapArea ul {
  list-style-type: none;
  padding: 0;
} 



/*CONTACT PAGE CLOSE*/




/* FOOTER START */

.mainFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #ccc;
  justify-content: flex-start;
  height: 125px;
  background: url(../images/footer.jpg) repeat-x; 
}



.footerNav {
  width: 380px;
  height: 25px;
  padding: 50px;
  margin-left: 20px;
}

.footerNav ul {
  padding: 0;
  list-style-type: none;
  width: 500px;
  margin-left: 0;
}

.footerNav ul li { 
  cursor: pointer;
  display: inline;
  margin-right: 25px;
  font-size: 12px;  
}

.footerNav ul li a {
  color: #333;
}

.footerNav ul li a:hover {
  color: #999;
}

.socialMedia {
  height: 45px;
  margin-left: auto;
  margin-top: 28px;
  margin-right: 10px;
}

#iconNav img {
  width: 45px;
  height: 45px;
}

#iconNav {
  list-style: none;
  margin: 0;
  padding: 0
}

#iconNav li {
  display: inline;
  margin-right: 10px;
}

/*FOOTER CLOSE*/

